* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}

i {
  color: black;
  height: 100%;
}

a {
  border-radius: 50%;
  background-color: #eee;
  padding: 15px;
}

.fa-square-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #037ccd;
}

.fa-google-plus:hover {
    color: #d64c3e;
}

.fa-linkedin:hover {
    color: #0c61bf;
}

.fa-instagram:hover {
    color: #b72fae;
}