body {
  background-color: rgb(238, 238, 238);
  margin: 2em 5em;
}

main {
  display: flex;
  border-top: 0.10em solid black;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.elevator {
  float: right;
  padding: 0.5em;
  margin: 0.1em 6em;
  border: 0.2em solid black;
}

blockquote {
  display: flex;
  flex-direction: column;
  border-left: 0.2em solid rgb(210, 210, 210);
  padding: 0px 30px;
  font-style: italic;
  font-family: Georgia, serif;
  width: 50%;
  line-height: 1.5;
}

.quote-left {
  width: 50%;
}

.author {
  text-align: end;
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: Georgia, serif;
}

article {
  display: flex;
  flex-direction: row-reverse;
}

.nature-img {
  float: left;
  border: 0.15em solid black;
  padding: 0.5em;
  box-shadow: 2px 3px 2px rgb(200, 200, 200);
  margin: 0 1rem 1rem 0
}

img {
  background-color: rgb(255,255,255);
}

ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}